<div class="container-fluid pt-5 mt-5">
  <div class="row pt-5 mt-5">
    <div class="col-10 mx-auto py-5 my-5 px-5 appear-animation" data-appear-animation="fadeInUpShorter">
      <h1 class="text-uppercase title text-center text-15 pb-5">Política de Privacidade e Cookies</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </div>
</div>
