/* FONTS */
.axiforma-bold {
  font-family: AxiformaBold, Open-Sans;
}

.axiforma-medium {
  font-family: AxiformaMedium, Open-Sans;
}

.title {
  font-size: 5rem;
  line-height: 7rem;
}

.subtitle {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 34px;
  font-family: AxiformaRegular, Open-Sans;
  color: #0292B5;
}

.text-blue {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 26px;
  font-family: AxiformaBold, Open-Sans;
  color: #0292B5;
}

html {
  scroll-behavior: smooth;
}

/* COOKIE BAR */
.notice-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1D1D1D;
  border-top: 1px solid #000000;
  z-index: 1000;
  font-family: AxiformaRegular, Open-Sans;
}

.notice-bottom-bar a {
  font-family: AxiformaRegular, Open-Sans;
}

.notice-bottom-bar .notice-button {
  background: #0292B5;
  color: #FFFFFF;
  border-radius: 0;
  border-color: #0292B5;
  -webkit-transition: ease background 300ms;
  transition: ease background 300ms;
  text-decoration: none;
  font-family: AxiformaRegular, Open-Sans;
}

.notice-bottom-bar .notice-button:hover {
  background: #1bc0da;
  color: white;
}

/* MENU */
.hamburguer span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: #FFFFFF;
  border-radius: 0;
  z-index: 1;
}

.hamburguer-close span {
  display: block;
  width: 45px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: #FFFFFF;
  border-radius: 0;
  z-index: 1;
}

.menu-mobile-close span {
  width: 35px;
}

.menu-mobile .row {
  background: #4D4D53;
}

.bg-slide {
  background-position: left top;
  background-repeat: repeat-x;
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .count {
  counter-reset: my-sec-counter;
}

.count::before {
  counter-increment: my-sec-counter;
  content: "0" counter(my-sec-counter) ". ";
} */

/* PRODUTOS */
article:hover {
  cursor: pointer;
}

.modal-dialog {
  max-width: 95vw;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.modal-content {
  background-color: #1D1D1D;
  height: inherit;
  border-radius: 0;
}

.product-image-modal {
  object-fit: cover;
  object-position: center;
}

#emailModal .modal-dialog {
  max-width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
}

#emailModal .modal-content {
  height: 100vh;
}

.col-email {
  top: 30vh;
}

.close {
  opacity: 1;
}

/* FORM */
.form-control:focus {
  background: transparent;
}

#send-catalog .form-control::placeholder {
  color: #FFF;
}

#send-catalog .form-control {
  padding-left: 0;
}

textarea {
  resize: none;
}

checkbox-label {
  margin-left: .7rem;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border: 1px solid #FFF;
  border-radius: 0;
  background-color: #1D1D1D;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #0292B5;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 6px;
}

.row-top {
  border-top: 1px solid #FFF;
}


@media only screen and (min-width: 1280px) {
  .bg-image {
    height: 100vh;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 7rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .text-blue {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .product-image-modal {
    height: 90vh;
  }

  .col-end {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
  }

  .modal-body {
    height: 65vh;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .text-blue {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 991px) {
  .btn-info {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .text-blue {
    font-size: 1.2rem;
  }

  .bg-slide {
    background-size: contain;
  }
}
