@font-face {
    font-family: "AxiformaRegular";
    src: local('AxiformaRegular'), url('./fonts/AxiformaRegular.woff2');
}

@font-face {
    font-family: "AxiformaMedium";
    src: local('AxiformaMedium'), url('./fonts/AxiformaMedium.woff2');
}

@font-face {
    font-family: "AxiformaBold";
    src: local('AxiformaBold'), url('./fonts/AxiformaBold.woff2');
}

@font-face {
    font-family: "AxiformaBook";
    src: local('AxiformaBook'), url('./fonts/AxiformaBook.woff2');
}
