<div class="container-fluid">
  <section class="http-error">
    <div class="row justify-content-center pt-5">
      <div class="text-center py-5 my-5">
        <div class="http-error-main">
          <h2 class="py-3 my-3 pt-md-5 mt-md-5">404!</h2>
          <p class="mb-5 pb-5">Página não encontrada.</p>
          <a href="{{url_base}}"><p class="text-6"><u>Voltar à página inicial</u></p></a>
        </div>
      </div>
    </div>
  </section>
</div>
