{% if is_mobile %}
<div class="slider-container rev_slider_wrapper mt-4 pt-5" style="height: 100vh;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullwidth', 'gridheight': 700}">
{% else %}
<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'fullScreenOffsetContainer': '', 'fullScreenOffset': '0', 'responsiveLevels': [4096,1200,992,500]}">
    {% endif %}
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/images/home.png"
          alt="Home"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

        <div class="tp-caption text-color-light text-uppercase axiforma-bold"
          data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          data-x="['left','left','left','left']"
          data-y="['center','center','center','center']"
          data-voffset="['0','0','0','0']"
          data-hoffset="['70','140','140','140']"
          data-start="1000"
          data-fontsize="['50','50','50','50']"
          data-transform_in="y:[-50%];opacity:0;s:500;"
          data-width="['800','800','800','800']"
          data-lineheight="['65', '65', '65', '65']"
          data-whitespace="['normal', 'normal', 'normal', 'normal']"
          data-textAlign="['inherit', 'left', 'left', 'left']"
          data-basealign="slide">Desenvolvemos soluções personalizadas para qualquer espaço</div>

          <div class="tp-caption text-color-light text-uppercase axiforma-medium"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
            data-x="['left','left','left','left']"
            data-y="['center','center','center','center']"
            data-voffset="['140','130','130','130']"
            data-hoffset="['70','140','140','140']"
            data-start="1000"
            data-fontsize="['30','20','20','20']"
            data-transform_in="y:[-50%];opacity:0;s:500;"
            data-width="['900','700','700','700']"
            data-lineheight="['65', '65', '65', '65']"
            data-whitespace="['normal', 'normal', 'normal', 'normal']"
            data-textAlign="['inherit', 'left', 'left', 'left']"
            data-basealign="slide">Vamos explorar juntos a melhor solução para si</div>

            <div class="tp-caption text-color-light text-uppercase axiforma-medium d-none d-lg-block"
              data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
              data-x="['right','right','right','right']"
              data-y="['bottom','bottom','bottom','bottom']"
              data-voffset="['50','50','50','50']"
              data-hoffset="['0','0','0','0']"
              data-start="1000"
              data-fontsize="['20','20','20','20']"
              data-transform_in="y:[-50%];opacity:0;s:500;"
              data-width="['200','200','200','200']"
              data-lineheight="['65', '65', '65', '65']"
              data-whitespace="['normal', 'normal', 'normal', 'normal']"
              data-textAlign="['inherit', 'left', 'left', 'left']"
              data-basealign="slide"><a data-hash data-hash-offset='60' href="#sobre"><img src="{{url_base}}/assets/img/icons/deslize.png" alt=""></a></div>
      </li>
    </ul>
  </div>
</div>
