<footer id="footer" class="border-top-0">
  <div class="container-fluid pt-4 px-md-5">
    <div class="row pt-5 pb-4 pb-lg-5 mx-1 row-top">

      <!-- MOBILE -->
      {% if is_mobile %}
      <div class="col-12 text-uppercase text-center">
        <a href="{{url_base}}/politica" class="text-decoration-underline"><p class="text-3 text-xl-4">Política de Privacidade e Cookies</p></a>
      </div>
      <div class="col-12 text-center">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-2 my-auto">
            <img class="img-fluid" alt="PME Líder" src="{{url_base}}/assets/img/logos/pme.svg"/>
          </div>
          <div class="col-4 my-auto">
            <a href="https://www.livroreclamacoes.pt/inicio" target="_blank"><img class="img-fluid w-100" alt="Livro de Reclamações" src="{{url_base}}/assets/img/logos/livro-reclamacoes.svg"/></a>
          </div>
          <div class="col-2 my-auto">
            <a href="https://www.facebook.com/interdivept/" target="_blank"><img class="img-fluid d-inline" alt="Facebook" src="{{url_base}}/assets/img/logos/facebook.svg"/></a>
          </div>
          <div class="col-2 my-auto">
            <a href="https://www.instagram.com/" target="_blank"><img class="img-fluid d-inline" alt="Instagram" src="{{url_base}}/assets/img/logos/instagram.svg"/></a>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
      <div class="col-12 text-center pt-4">
        <a href="{{url_base}}"><img class="img-fluid d-inline" alt="Interdive" src="{{url_base}}/assets/img/logos/interdive-logo.svg" width="50" height="50"/></a>
        <p class="text-2 d-inline pl-2">Designed by <a href="https://unify.pt/" target="_blank"><span class="text-uppercase text-blue text-3 pl-1">&#252;nify</span></a></p>
      </div>

      <!-- DESKTOP -->
      {% else %}
      <div class="col-12 col-lg-3 pl-0 text-uppercase my-lg-auto">
        <a href="{{url_base}}/politica" class="text-decoration-underline"><p class="text-lg-3 text-xl-4 pt-4">Política de Privacidade e Cookies</p></a>
      </div>
      <div class="col-12 col-lg-2 text-center my-auto">
        <a href="https://www.livroreclamacoes.pt/inicio" target="_blank"><img class="img-fluid" alt="Livro de Reclamações" src="{{url_base}}/assets/img/logos/livro-reclamacoes.svg"/></a>
      </div>
      <div class="col-12 col-lg-2 text-center my-auto">
        <a href="{{url_base}}"><img class="img-fluid pb-2" alt="Interdive" src="{{url_base}}/assets/img/logos/interdive-logo.svg" width="100" height="100"/></a>
        <p class="text-2">Designed by <a href="https://unify.pt/" target="_blank"><span class="text-uppercase text-blue text-3 pl-1">&#252;nify</span></a></p>
      </div>
      <div class="col-12 col-lg-1 text-center text-lg-right my-auto">
        <img class="img-fluid" alt="PME Líder" src="{{url_base}}/assets/img/logos/pme.svg"/>
      </div>
      <div class="col-12 col-lg-3 text-uppercase text-center text-lg-right d-flex justify-content-end my-auto">
        <p class="text-lg-3 text-xl-4 pt-4">Acompanhe-nos nas redes sociais!</p>
      </div>
      <div class="col-12 col-lg-1 pr-0 d-flex justify-content-center justify-content-lg-end my-auto">
        <a href="https://www.facebook.com/interdivept/" target="_blank"><img class="img-fluid pr-2 d-inline" alt="Facebook" src="{{url_base}}/assets/img/logos/facebook.svg"/></a>
        <a href="https://www.instagram.com/" target="_blank"><img class="img-fluid pl-2 d-inline" alt="Instagram" src="{{url_base}}/assets/img/logos/instagram.svg"/></a>
      </div>
      {% endif %}
    </div>
  </div>
</footer>
</div>


<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>



</body>

</html>
