<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
  <div class="header-body border-top-0 header-body-bottom-border">
    <div class="header-container container-fluid px-lg-5">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo">
              <a href="{{url_base}}">
                <img alt="Interdive" width="200" height="76" data-sticky-width="190" data-sticky-height="70" src="{{url_base}}/assets/img/logos/interdive.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav header-nav-links order-2 order-lg-1">
              <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="dropdown">
                      <a class="dropdown-item" data-hash data-hash-offset="95" href="{{url_base}}/#sobre">
                        Sobre
											</a>
										</li>
										<li class="dropdown">
											<a class="dropdown-item" data-hash data-hash-offset="95" href="{{url_base}}/#produtos">
												Produtos
											</a>
										</li>
										<li class="dropdown">
											<a class="dropdown-item" data-hash data-hash-offset="95" href="{{url_base}}/#contactos">
												Contactos
											</a>
										</li>
                  </ul>
                </nav>
              </div>
              <!-- <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                <i class="fas fa-bars"></i>
              </button> -->
              <button class="btn header-btn-collapse-nav open-menu-mobile">
                <span class="hamburguer">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- MENU MOBILE  -->
  <div class="menu-mobile" style="display:none;">
    <div class="container-fluid px-0">
      <div class="header-row">
        <div class="col">
          <div class="header-logo">
            <a href="{{url_base}}">
              <img alt="Interdive" width="200" height="76" data-sticky-width="190" data-sticky-height="70" src="{{url_base}}/assets/img/logos/interdive.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <ul class="list-unstyled menu-mobile-dropdown">
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" href="{{url_base}}/#sobre">
              <p class="text-9 py-2">Sobre</p>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" href="{{url_base}}/#produtos">
              <p class="text-9 py-2">Produtos</p>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" href="{{url_base}}/#contactos">
              <p class="text-9 py-2">Contactos</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn header-btn-collapse-nav mt-1">
      <span class="hamburguer-close menu-mobile-close">
        <span></span>
      </span>
    </button>
  </div>
</header>

<div role="main" class="main" id="home">
  {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %}
