<div class="modal fade in" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="row">
				<div class="col-12 col-lg-5">
					<button type="button" class="close d-block d-lg-none" data-dismiss="modal" aria-hidden="true"><img src="{{url_base}}/assets/img/icons/fechar.svg" class="img-fluid p-4" alt="Fechar"></button>
					<img class="product-image-modal w-100 px-4 px-lg-0" src="" alt="Produto">
					<!-- <div class="w-100 product-image-modal"></div> -->
				</div>
				<div class="col-12 col-lg-7">
					<button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-hidden="true"><img src="{{url_base}}/assets/img/icons/fechar.svg" class="img-fluid p-3" alt="Fechar"></button>
					<div class="row px-4">
						<div class="col-12 mt-3 mt-lg-5 pt-lg-5 modal-body">
							<h2 class="modal-title text-blue text-6 pb-3 pb-lg-5 product-title-modal" id="defaultModalLabel"></h2>
							<p class="text-white text-uppercase">Características Técnicas</p>
							<p class="text-white product-detail-modal"></p>
						</div>
						<div class="col-12 d-lg-flex justify-content-end col-end pb-4 pb-lg-0">
							<button type="button" class="btn btn-info btn-download rounded-0 mb-2 text-white text-uppercase text-4 px-5" data-toggle="modal" data-target="#emailModal">Download Ficha Técnica</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade in px-0" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="row">
				<div class="col-12">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="{{url_base}}/assets/img/icons/fechar.svg" class="img-fluid p-4" alt="Fechar"></button>
				</div>
				<div class="col-10 mx-auto col-email">
					<div id="notifications" class="alert alert-danger alert-dismissible d-none" role="alert"></div>
					<form id="send-catalog" action="" method="post">
						<input type="email" name="email" class="form-control validate text-white" placeholder="Coloque o seu e-mail" required oninvalid="setCustomValidity('Precisamos de um e-mail válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
						<input type="hidden" name="cid" id="cid" value="">
					</form>
					<div class="modal-footer d-flex justify-content-end pt-5 px-0">
						<button type="submit" form="send-catalog" id="send-catalog-submit" data-loading-text="Aguarde..." class="btn btn-info rounded-0 mb-2 text-white text-uppercase text-4 px-5">Finalizar Download</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
