<div class="container-fluid">
  <div class="d-none d-lg-block mt-5 pt-5">
  </div>

  <!-- SOBRE -->
  <section id="sobre">
    <div class="row">
      <div class="col-12 mt-5 mb-lg-5 py-4 py-lg-5 px-0 bg-slide appear-animation" style="background-image: url('{{url_base}}/assets/img/slides/sobre.svg');" data-appear-animation="fadeInUpShorter">
        <div class="row">
          <div class="col-12 col-lg-10 mx-lg-auto px-4 px-lg-5 pt-4 mt-lg-4">
            <h1 class="text-uppercase title">Sobre Nós</h1>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 px-4 px-lg-5 d-flex align-items-center appear-animation" data-appear-animation="fadeInUpShorter">
        <div class="row pl-lg-5">
          <div class="col-12 col-xl-10 mx-xl-auto px-xl-5">
            <p class="subtitle pl-lg-5 pb-5 mb-lg-5">Fundada em 2015, a Interdive é uma empresa Portuguesa, jovem e dinâmica, especializada no design, conceção e fabrico de soluções únicas para divisões de espaços interiores.</p>
            <p class="pl-lg-5">
              A Interdive tem obtido reconhecimento nacional e internacional pelas suas soluções funcionais e inovadoras. Os nossos sistemas são produzidos com materiais certificados e de fabrico exclusivamente nacional.
              <br/><br/>
              Fruto do trabalho realizado e do portfólio construído, a Interdive afirma-se no mercado como uma das marcas mais competitivas e eficientes, garantindo em todos os momentos o equilíbrio certo entre funcionalidade, qualidade e prazo de execução.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 px-0 pt-5 d-lg-none appear-animation" data-appear-animation="fadeInUpShorter">
        <img class="img-fluid" src="{{url_base}}/assets/img/images/sobre.png" alt="Sobre"/>
      </div>
      <div class="col-12 col-lg-5 bg-image d-none d-lg-block appear-animation" style="background-image: url('{{url_base}}/assets/img/images/sobre.png');" data-appear-animation="fadeInUpShorter">
      </div>
    </div>
  </section>
  <div class="mt-5 pt-5 d-none d-lg-block">
  </div>

  <div class="mt-lg-5 pt-5">
  </div>
  <section>
    <div class="row px-3 px-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
      <div class="col-12 pb-lg-5 mb-lg-5">
        <h1 class="text-uppercase text-lg-center title">Valores</h1>
      </div>
      <div class="col-12 col-lg-3">
        <p class="text-blue">Personalização do Serviço</p>
        <p>Agilizamos toda a preparação e conceção das divisórias para adaptar as soluções aos pedidos dos nossos clientes.</p>
      </div>
      <div class="col-12 col-lg-3 pt-5 pt-lg-0">
        <p class="text-blue">Profissionalismo</p>
        <p>A Interdive garante um compromisso de profissionalismo, rigor e qualidade em todos os produtos que fornece e nos serviços que presta aos seus clientes.</p>
      </div>
      <div class="col-12 col-lg-3 pt-5 pt-lg-0">
        <p class="text-blue">Conforto</p>
        <p>A vasta presença a nível nacional permite obter uma rápida resposta às solicitações de intervenções pontuais e serviços de manutenção.</p>
      </div>
      <div class="col-12 col-lg-3 pt-5 pt-lg-0">
        <p class="text-blue">Know-how</p>
        <p>A experiência da nossa equipa no mercado da construção interior, em espaços comerciais e industriais permite-nos dar a melhor resposta ao mais elevado nível de rigor e qualidade.</p>
      </div>
    </div>
  </section>
  <div class="d-none d-lg-block mt-5 pt-5">
  </div>

  <!-- PRODUTOS -->
  <div class="d-none d-lg-block mt-5 pt-5">
  </div>
  <section id="produtos">
    <div class="row">
      <div class="col-12 mt-5 mb-lg-5 py-4 py-lg-5 px-0 bg-slide appear-animation" style="background-image: url('{{url_base}}/assets/img/slides/produtos.svg');" data-appear-animation="fadeInUpShorter">
        <div class="row">
          <div class="col-12 col-xl-10 mx-xl-auto px-5 pt-lg-4 mt-lg-4">
            <h1 class="text-uppercase title">Os Nossos Produtos</h1>
          </div>
        </div>
      </div>
      <div class="col-12 px-4 appear-animation" data-appear-animation="fadeInUpShorter">
        {% if is_mobile %}
        <div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 2}, '1199': {'items': 2}}, 'loop': true, 'dots': false, 'autoHeight': true, 'margin': 10, 'autoplay': true, 'autoplayTimeout': 4000}">
          {% else %}
        <div class="owl-carousel owl-theme stage-margin nav-style-1" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 2}, '1199': {'items': 2}}, 'margin': 50, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 60}">
          {% endif %}
          <article class="post post-medium border-0 pb-0 mb-5 modal-button" data-toggle="modal" data-target="#defaultModal">
      			<div class="post-image">
    					<img src="{{url_base}}/assets/img/products/one4500.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 product-image" alt="Produto">
      			</div>
            <div class="post-content">
      				<!-- <span class="text-blue text-5 mt-3 mb-2 text-uppercase count"></span><h2 class="text-blue text-5 mt-3 mb-2 text-uppercase d-inline product-title">ONE 4500</h2> -->
              <h2 class="text-blue text-5 mt-3 mb-2 text-uppercase product-title">01. ONE 4500</h2>
      				<p class="text-uppercase product-subtitle">Transparência</p>
              <p class="product-desc">
                A série ONE 4500 é composta por uma estrutura em alumínio minimalista de perímetro. Permite receber vidro único do tipo laminado ou temperado de 8 a 12mm de espessura. Todos os perfis têm 45mm de espessura e apresentam uma vista lateral de 35mm.
                <br/><br/>
                Portas com aro em alumínio e folhas com 40mm de espessura. Vidro ou revestimentos opacos.
              </p>
              <p class="product-detail" style="display:none">
                Estrutura em perfis de alumínio na liga EN AW 6060 (EN573-3), produzidos e controlados segundo procedimentos e normas definidos no âmbito do Sistema de Gestão de Qualidade segundo NP EN 12020-2 2002.
                <br/><br/>
                Junta/Selagem entre vidros em perfil de policarbonato ou alumínio.
                <br/><br/>
                Vedação EPDM em todo o perímetro dos revestimentos.
                <br/><br/>
                Acústica de 33 a 37 dB.
              </p>
      			</div>
      		</article>

          <article class="post post-medium border-0 pb-0 mb-5 modal-button" data-toggle="modal" data-target="#defaultModal">
      			<div class="post-image">
      				<img src="{{url_base}}/assets/img/products/multy8500.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 product-image" alt="Produto">
      			</div>
            <div class="post-content">
      				<h2 class="text-blue text-5 mt-3 mb-2 text-uppercase product-title">02. MULTY 8500</h2>
      				<p class="text-uppercase product-subtitle">Versatilidade</p>
              <p class="product-desc">
                A série MULTY 8500 é uma divisória de estrutura oculta totalmente executada em alumínio. Permite as mais variadas composições de painéis opacos ou vidros com modulações horizontais e verticais. A rigidez das zonas opacas é garantida por painéis duplos com 19mm de espessura e topos com orla antichoque em PVC, inclui ainda um reforço acústico em lã mineral de 40mm. Os módulos em vidro podem ser simples ou duplos do tipo laminado ou temperado com espessuras de 6 a 12mm. Portas com aro em alumínio e folhas com espessuras de 40 ou 85mm. Acabamentos em Vidro (simples ou duplo) ou revestimentos opacos.
              </p>
              <p class="product-detail" style="display:none">
                Estrutura em perfis de alumínio na liga EN AW 6060 (EN573-3), produzidos e controlados segundo procedimentos e normas definidos no âmbito do Sistema de Gestão de Qualidade segundo NP EN 12020-2 2002.
                <br/><br/>
                Painéis opacos em aglomerado de melamina com superfície em ambas as faces, classificados de acordo com os critérios definidos pela norma EN 14322.
                <br/><br/>
                Vedação EPDM em todo o perímetro dos revestimentos.
                <br/><br/>
                Total mobilidade, permitindo a alteração de módulos envidraçados para opacos sem alteração da estrutura base.
                <br/><br/>
                Acústica divisórias opacas 44 dB.
                <br><br>
                Acústica divisórias vidro de 34 a 44 dB.
              </p>
      			</div>
      		</article>

          <article class="post post-medium border-0 pb-0 mb-5 modal-button" data-toggle="modal" data-target="#defaultModal">
      			<div class="post-image">
      				<img src="{{url_base}}/assets/img/products/leed4500.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 product-image" alt="Produto">
      			</div>
            <div class="post-content">
      				<h2 class="text-blue text-5 mt-3 mb-2 text-uppercase product-title">03. LEED 4500</h2>
      				<p class="text-uppercase product-subtitle">Acústica</p>
              <p class="product-desc">
                A série LEED 4500 é composta por uma estrutura em alumínio minimalista de perímetro que permite receber painéis de duplo vidro com 8 a 12mm de espessura em cada face.
                <br/><br/>
                Portas com aro em alumínio e folhas com espessuras de 40 ou 85mm.  Acabamentos em Vidro (simples ou duplo) ou revestimentos opacos.
              </p>
              <p class="product-detail" style="display:none">
                Estrutura em perfis de alumínio na liga EN AW 6060 (EN573-3), produzidos e controlados segundo procedimentos e normas definidos no âmbito do Sistema de Gestão de Qualidade segundo NP EN 12020-2 2002.
                <br/><br/>
                Junta/Selagem entre vidros em perfil de policarbonato ou alumínio.
                <br/><br/>
                Vedação EPDM em todo o perímetro dos revestimentos.
                <br/><br/>
                Portas de correr em sistema de carril oculto entre vidros.
                <br/><br/>
                Opção de Fita LED integrada.
                <br/><br/>
                Acústica de 38 a 44 dB.
              </p>
      			</div>
      		</article>

          <article class="post post-medium border-0 pb-0 mb-5 modal-button" data-toggle="modal" data-target="#defaultModal">
      			<div class="post-image">
      				<img src="{{url_base}}/assets/img/products/moov.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 product-image" alt="Produto">
      			</div>
            <div class="post-content">
      				<h2 class="text-blue text-5 mt-3 mb-2 text-uppercase product-title">04. MOOV</h2>
      				<p class="text-uppercase product-subtitle">Flexibilidade</p>
              <p class="product-desc">
              </p>
              <p class="product-detail" style="display:none">
                Estrutura em perfis de alumínio na liga EN AW 6060 (EN 573-3), produzidos e controlados segundo procedimentos e normas definidos no âmbito do sistema de gestão de qualidade segundo NP EN 12020 – 2 2002.
                <br/><br/>
                Painéis opacos duplos e acabamentos personalizáveis.
                <br/><br/>
                Vidro Duplo com moldura em tinta cerâmica cor a definir.
                <br/><br/>
                Painéis independentes ou em “livro”.
                <br/><br/>
                Acústica de 38 a 54 dB.
              </p>
      			</div>
      		</article>

        </div>
        {% include 'Includes/produtos_detalhe.html' %}
      </div>
    </div>
  </section>
  <div class="d-none d-lg-block mt-5 pt-5">
  </div>

  <div class="d-none d-lg-block mt-5 pt-5">
  </div>
  <section>
    <div class="row">
      <div class="col-12 mt-5 mb-lg-5 py-4 py-lg-5 px-0 bg-slide appear-animation" style="background-image: url('{{url_base}}/assets/img/slides/distribuidores.svg');" data-appear-animation="fadeInUpShorter">
        <div class="row">
          <div class="col-12 text-lg-center px-5 pt-lg-4 mt-lg-4">
            <h1 class="text-uppercase title">Os Nossos Distribuidores</h1>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center px-0 px-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
        <img class="img-fluid d-none d-md-block" alt="Mapa" src="{{url_base}}/assets/img/images/mapa.png"/>
        <img class="img-fluid d-md-none" alt="Mapa" src="{{url_base}}/assets/img/images/mapa-mobile.png"/>
      </div>
    </div>
  </section>
  <div class="mt-lg-5 pt-5">
  </div>

  <!-- CONTACTOS -->
  <div class="d-none d-lg-block mt-5 pt-5">
  </div>
  <section id="contactos">
    <div class="row">
      <div class="col-12 mt-5 mb-lg-5 py-4 py-lg-5 px-0 bg-slide appear-animation" style="background-image: url('{{url_base}}/assets/img/slides/contactos.svg');" data-appear-animation="fadeInUpShorter">
        <div class="row">
          <div class="col-12 text-center px-5 pt-lg-4 mt-lg-4">
            <h1 class="text-uppercase title">Contactos</h1>
          </div>
        </div>
      </div>
      <div class="col-12 px-4 px-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
        <div class="card custom-card-style-1">
					<div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-6 py-lg-5">
                <h2 class="text-uppercase text-center text-lg-10">Entre em contacto!</h2>
                <form class="contact-form-recaptcha-v3" action="php/contact-form-recaptcha-v3.php" method="POST" novalidate="novalidate">
                  <div class="contact-form-success alert alert-success d-none mt-4">
                    <strong>A sua mensagem foi enviada!</strong>
                  </div>
                  <div class="contact-form-error alert alert-danger d-none mt-4">
                    <strong>Ocorreu um erro ao enviar a sua mensagem!</strong>
                    <span class="mail-error-message text-1 d-block"></span>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 py-2">
                      <input type="text" placeholder="Nome" value="" data-msg-required="Por favor indique o seu nome." maxlength="100" class="form-control pl-0 text-4" name="name" required=""/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 py-2">
                      <input type="email" placeholder="E-mail" value="" data-msg-required="Por favor indique o seu email" data-msg-email="Por favor indique um email válido" maxlength="100" class="form-control pl-0 text-4" name="email" required=""/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 py-2">
                      <input type="text" placeholder="Assunto" value="" data-msg-required="Por favor indique o assunto." maxlength="100" class="form-control pl-0 text-4" name="subject" required=""/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 py-2">
                      <textarea maxlength="5000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="5" class="form-control pl-0 text-4" name="message" required=""></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-lg-8 col-xl-6 py-2">
                      <input type="checkbox" name="" value=""> <p class="d-inline gilroy-medium text-2 pl-2">Li e aceito a política de privacidade.</p>
                    </div>
                    <div class="form-group col-12 col-lg-4 col-xl-6 py-2 d-flex justify-content-center justify-content-lg-end">
                      <input type="submit" value="Enviar" class="btn btn-info rounded-0 text-4 px-4 py-1 float-lg-right text-uppercase" data-loading-text="A enviar..."/>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-lg-6 pt-5 pb-lg-5">
                <ul class="list list-icons list-icons-style-2 mt-2 text-center">
									<li class="pl-0"><img class="img-fluid pb-2" alt="Horário" src="{{url_base}}/assets/img/icons/relogio.svg"/><p class="text-4 text-lg-5">Segunda a Sexta-feira, <br/>das 08h30 às 18h00</p></li>
									<li class="pl-0"><img class="img-fluid pb-2" alt="Localização" src="{{url_base}}/assets/img/icons/localizacao.svg"/><p class="text-4 text-lg-5 mb-1">Rua das Caldeiras, 465, 4765-068 <br/>Bairro, Vila Nova de Famalicão</p><p class="text-3 text-lg-4">Coordenadas GPS: <br class="d-lg-none"/>41.379615, -8.430265</p>
									<li class="pl-0"><img class="img-fluid pb-2" alt="Email" src="{{url_base}}/assets/img/icons/email.svg"/><p class="text-4 text-lg-5 mb-1">geral@interdive.pt</p></li>
                  <li class="pl-0"><img class="img-fluid pb-2" alt="Contacto" src="{{url_base}}/assets/img/icons/telefone.svg"/><p class="text-4 text-lg-5"><span class="text-1">+351</span> 252 987 410</p></li>
								</ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
